.ipynb_checkpoints
__pycache__
Datasets/
Logs/
Main_Pretrain_lambda01/
MicroViTS1_Student/
MicroViTS2_Student/
MicroViTS3_Student/
MobileNetV2_Student
Pretrain_Data/
In_Distribution_Dataset/
Out_Distribution_Dataset/
rknn_env/
tf_env/
*.onnx
*.ipynb
.vscode
diagnostico_rendimiento.py
verify_*.py
*.tar.gz
AlgaeJEPA_Pretrain_lambda01/
*_Student/
